{% extends 'base.html.twig' %}

{% block title %}Hello CompositionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/sioban/donnees/Formations/house_of_code/projet_percu-corpo/tchouka-back-symfony/src/Controller/CompositionController.php'|file_link(0) }}">src/Controller/CompositionController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/sioban/donnees/Formations/house_of_code/projet_percu-corpo/tchouka-back-symfony/templates/composition/index.html.twig'|file_link(0) }}">templates/composition/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
